<!DOCTYPE html>

<html lang="en" ng-app="GameClientApp">

	<head>
		<script src="/static/js.cookie.js"></script>
		<script src="https://cdn.socket.io/socket.io-1.4.5.js">
			socket.io 1.4.5
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js">
			angularjs 1.5.3
		</script>
		<script src="/static/uuid.js"></script>
		<script src="/static/GameClient/index.js"></script>

		<link rel="stylesheet" type="text/css" href="/static/GameClient/index.css">

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<title>
			Cookie tapper!
		</title>
	</head>

	<body ng-controller="GameClientCtrl">
		<div ng-show="inGame">
			<div ng-hide="paused || phase === 5">
				<div ng-show="phase === 0 && nick === ''" class="name-entry">
					<label>What's your name?<input ng-model="nickEntry" type="text" ng-minlength="3" ng-maxlength="24"></label><br>
					<input type="submit" value="Go" ng-click="setNick(nickEntry)" ng-disabled="processingNick">
				</div>

				<div ng-show="phase === 0 && nick && nick.length !== 0" class="simulation-waiting">
					<div>Your name: {{nick}}</div>
					<div>Waiting to start...</div>
				</div>

				<div ng-show="data !== undefined">
					<div ng-show="phase > 0">
						<div id="totalCookies"><img src="/static/cookie-256.png" width="16" height="16"> &times; {{data.cookies}}</div>
						<div id="rank">rank: #{{rank}}</div>
						<div id="centralCookie" ng-click="clickCookie()" ng-class="(magicCookieClicks > 0? 'magic ' : '') + (phase === 1? 'low' : '')" ng-hide="showStore"><span ng-show="magicCookieClicks > 0">{{magicCookieClicks * 10}}</span></div>
					</div>

					<div ng-show="phase > 1 && !showStore">
						<div id="producersLabel" ng-click="showStore = true">Buy/Sell Producers</div>

						<canvas id="cookiesCanvas"></canvas>
						<div ng-show="data.arominators + data.cookiePresses + data.factories > 0">
							<div class="producerRow" id="arominatorsRow"></div>
							<div class="producerRow" id="cookiePressesRow"></div>
							<div class="producerRow" id="factoriesRow"></div>
						</div>
					</div>

					<div ng-show="showStore" id="store">
						<div ng-click="showStore = false">back</div>

						<div id="totalArominators" class="totalRow">{{data.arominators}} arominator{{data.arominators === 1? '' : 's'}} ({{expectedValues().arominators}} cookie{{expectedValues().arominators === 1? '' : 's'}}/sec)</div>
						<div ng-click="buy('arominators')" ng-class="data.cookies >= price('arominators')? 'buy-button' : 'buy-button disabled'">buy (-{{price('arominators', 'buy')}} cookies)</div>
						<div ng-click="sell('arominators')" ng-class="data.arominators > 0? 'sell-button' : 'sell-button invisible'">sell (+{{price('arominators', 'sell')}} cookies)</div>

						<div id="totalCookiePresses" class="totalRow">{{data.cookiePresses}} cookie press{{data.cookiePresses === 1? '' : 'es'}} ({{expectedValues().cookiePresses}} cookie{{expectedValues().cookiePresses === 1? '' : 's'}}/sec)</div>
						<div ng-click="buy('cookiePresses')" ng-class="data.cookies >= price('cookiePresses')? 'buy-button' : 'buy-button disabled'">buy (-{{price('cookiePresses', 'buy')}} cookies)</div>
						<div ng-click="sell('cookiePresses')" ng-class="data.cookiePresses > 0? 'sell-button' : 'sell-button invisible'">sell (+{{price('cookiePresses', 'sell')}} cookies)</div>

						<div id="totalFactories" class="totalRow">{{data.factories}} factor{{data.factories === 1? 'y' : 'ies'}} ({{expectedValues().factories}} cookie{{expectedValues().factories === 1? '' : 's'}}/sec)</div>
						<div ng-click="buy('factories')" ng-class="data.cookies >= price('factories')? 'buy-button' : 'buy-button disabled'">buy (-{{price('factories', 'buy')}} cookies)</div>
						<div ng-click="sell('factories')" ng-class="data.factories > 0? 'sell-button' : 'sell-button invisible'">sell (+{{price('factories', 'sell')}} cookies)</div>
					</div>
				</div>
			</div>

			<div ng-show="paused" id="paused">
				GAME PAUSED
			</div>

			<div ng-show="phase === 5" id="gameOver">
				GAME OVER
			</div>
		</div>
	</body>

</html>